<a href="https://colab.research.google.com/github/Brunacsc/p/blob/main/Mod07_Tarefa_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [3]:
import pandas as pd
import requests
# importar o arquivo base.
data_base = pd.read_csv('/content/demo01.csv')
data_base.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [4]:
#Tipo de cada variável
data_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [5]:
# Quantidade de missings
data_base.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [6]:
# Distribuição da variável resposta (mau)
data_base['mau'].value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [27]:
# Criando o DataFrame de metadados
metadados = pd.DataFrame({'variavel': data_base.columns,
                         'tipo': data_base.dtypes})

# Calculando o número de categorias únicas usando apply
metadados['qtd_categorias'] = data_base.apply(lambda x: x.nunique())

# Classificando as variáveis como numéricas ou categóricas
metadados['tipo_variavel'] = data_base.dtypes.apply(lambda x: 'numérica' if pd.api.types.is_numeric_dtype(x) else 'categórica')


# 2- Adicione uma coluna nesse dataframe chamada "qtd_categorias" e coloque nela o número de categorias
metadados = pd.DataFrame({'variavel': data_base.columns,
                          'tipo': data_base.dtypes})

metadados['qtd_categorias'] = data_base.apply(lambda x: x.nunique())

# Imprimindo o DataFrame de metadados
print(metadados)

                                    variavel     tipo  qtd_categorias
sexo                                    sexo   object               2
posse_de_veiculo            posse_de_veiculo   object               2
posse_de_imovel              posse_de_imovel   object               2
qtd_filhos                        qtd_filhos    int64               8
tipo_renda                        tipo_renda   object               5
educacao                            educacao   object               5
estado_civil                    estado_civil   object               5
tipo_residencia              tipo_residencia   object               6
idade                                  idade  float64            5298
tempo_emprego                  tempo_emprego  float64            3005
possui_celular                possui_celular    int64               1
possui_fone_comercial  possui_fone_comercial    int64               2
possui_fone                      possui_fone    int64               2
possui_email                    possui_email    int64               2
qt_pessoas_residencia  qt_pessoas_residencia  float64               9
mau                                      mau     bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [17]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [25]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Identificando as colunas categóricas
metadados = df.select_dtypes(include=['object']).columns

# Criando o codificador OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# Aplicando o codificador às colunas categóricas
encoded_data = pd.DataFrame(encoder.fit_transform(df[metadados]))

# Obtendo os nomes das novas colunas
new_dados = encoder.get_feature_names_out(metadados)

# Concatenando com as variáveis numéricas
numerical_dados = df.select_dtypes(exclude=['object']).columns
numerical_data = df[numerical_dados]

# Concatenando os DataFrames
df_final = pd.concat([numerical_data, encoded_data], axis=1)
df_final.columns = numerical_dados.tolist() + new_dados.tolist()

print(df_final.head())

   valor  cor_azul  cor_verde  cor_vermelho  tamanho_grande  tamanho_pequeno
0     10       0.0        0.0           1.0             0.0              1.0
1     20       1.0        0.0           0.0             1.0              0.0
2     15       0.0        1.0           0.0             1.0              0.0
3     25       0.0        0.0           1.0             0.0              1.0

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [28]:
# Tabela cruzada entre 'possui_email' e 'posse_de_veiculo' com a variável 'mau'
tabela_cruzada = pd.crosstab(index=data_base['possui_email'],
                             columns=[data_base['posse_de_veiculo'],
                                      data_base['mau']],
                             margins=True)
# Exibir tabela cruzada
print(tabela_cruzada)


# Conclusões:
# Se a probabilidade condicional de 'mau = 1' variar significativamente com base em 'possui_email',
# podemos dizer que 'possui_email' é uma variável mais poderosa para prever a probabilidade de 'mau = 1'.

posse_de_veiculo     N          Y         All
mau              False True False True
possui_email
0                 9108  233  5702  127  15170
1                  823   14   627   16   1480
All               9931  247  6329  143  16650

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [30]:
#Salvar arquivo

df_final.to_csv('demo01_processed.csv', index=False)